# Base
APP_ENV=dev
PORT=8080

# PSQL Connection
DB_USER=admin
DB_PASSWORD=<db_password>
DB_NAME=yop_db
DB_PORT=5433
DB_URL=postgres://${DB_USER}:${DB_PASSWORD}@localhost:${DB_PORT}/${DB_NAME}?sslmode=disable

# Redis
REDIS_PORT=6379
REDIS_PASSWORD=<redis_password>

# Migrations
GOOSE_MIGRATION_DIR=./migrations
GOOSE_DBSTRING=${DB_URL}
GOOSE_DRIVER=postgres

# CORS
ALLOWED_ORIGINS=http://localhost:5173